#navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  // -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.29);
  // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.29);
  ul {
    display: flex;
    list-style: none;

    li {
      a {
        display: inline-block;
        padding: 10px 15px;
        height: 40px;
        line-height: 3vh;
        font-weight: bold;
        color: #1a535c;
        text-decoration: none;
      }
      &:hover {
        background-color: #d0e9e9;
      }
    }
    .logo {
      background-color: #1a535c;
      a {
        color: white;
        letter-spacing: 3px;
      }
      &:hover {
        background-color: #1a535c;
      }
    }
  }
}
