#navbar {
  background-color: #282828;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #645451;

  ul {
    display: flex;
    list-style: none;

    li {
      padding: 5px 10px;

      a {
        display: inline-block;
        padding: 5px 10px;
        height: 30px;
        line-height: 3vh;
        font-weight: bold;
        color: #f9826a;
        text-decoration: none;
      }
      &:hover {
        a {
          border-bottom: 3px solid #f9826a;
        }
      }
    }
    .logo {
      a {
        background-color: #f9826a;
        border-radius: 40px;
        padding: 5px 10px;
        width: 110px;
        text-align: center;
        color: white;

        letter-spacing: 3px;
      }
    }
  }
}
