#navbar {
  background-color: #212121;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid dimgray;
  // -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.29);
  // box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.29);
  ul {
    display: flex;
    list-style: none;

    li {
      padding: 5px 10px;

      a {
        display: inline-block;
        padding: 5px 10px;
        height: 30px;
        line-height: 3vh;
        font-weight: bold;
        color: #f9826a;
        text-decoration: none;
      }
      &:hover {
        // background-color: #f9826a;
        a {
          // color: #631f4e;
          border-bottom: 3px solid #f9826a;
        }
      }
    }
    .logo {
      // background-color: #1a535c;
      a {
        background-color: #f9826a;
        border-radius: 5px;

        color: #631f4e;

        letter-spacing: 3px;
      }
      &:hover {
        // background-color: #1a535c;
      }
    }
  }
}
