.states-container {
  list-style: none;
  .line-label {
    border: none;
    outline: none;
    background: none;
    width: 50px;
    text-align: center;
    font-size: 1.1rem;
    padding-left: 15px;
    &::placeholder {
      color: black;
    }
  }
}
.connect-states {
  background-color: red;
}
