.states-container {
  list-style: none;
  .line-label {
    font: italic 1.5em serif;
    color: black;
    outline: none;
    background: none;
    border: none;
    width: 50px;
  }
}
.connect-states {
  background-color: red;
}
