.toolbar {
  position: fixed;
  top: 41px;
  left: 0px;
  list-style: none;
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  li {
    form {
      display: flex;
      // width: 100%;
      button {
        background: none;
        border: none;
        color: rgb(240, 234, 234);
        cursor: pointer;
        font-size: 2rem;
        width: 100%;
        &:hover {
          color: rgb(65, 65, 65);
          background-color: #dceae4;
        }
      }
      .state-input {
        border-radius: 30px;
        border: 1px solid #4ecdc4;
        padding: 5px 10px;
        height: 35px;
        outline: none;
      }
    }
    .add-icon {
      color: #4ecdc4;
    }
  }
}
// .toolbar {
//   position: fixed;
//   top: 10%;
//   left: 10px;
//   list-style: none;
//   width: 60px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   border-radius: 20px;
//   border: 3px solid #89a9aa;
//   background-color: white;
//   li {
//     width: 100%;
//     button {
//       background: none;
//       border: none;
//       padding: 15px 10px;
//       color: rgb(240, 234, 234);
//       cursor: pointer;
//       font-size: 1.5rem;
//       width: 100%;
//       &:hover {
//         color: rgb(65, 65, 65);
//         background-color: #dceae4;
//       }
//     }
//   }

//   .select-icon {
//     border-top-left-radius: 17px;
//     border-top-right-radius: 17px;
//     color: #1a535c;
//   }
//   .add-icon {
//     color: #4ecdc4;
//   }
//   .link-icon {
//     color: #ffdd33;
//     // color: black;
//   }
//   .delete-icon {
//     color: #ff6b6b;
//     border-bottom-left-radius: 17px;
//     border-bottom-right-radius: 17px;
//   }
// }
